# ignore all complied files
*.pyc
*/*.pyc
__pycache__
*.swp
*.o
*/.cache
# ignore the test files
#POTCAR
#POSCAR
#KPOINTS
#INCAR*
#*.struct

#optimize.job
#test.py
#*.dat
.idea/
.vscode/
.pytest_cache/

# ignore private files
#scsites
#commit.info
