include *.txt
include *.md
include LICENSE
recursive-include mykit *.py *.json
recursive-exclude mykit/vasp pv_*.py *_old.py

recursive-include doc *.ipynb *.md *.rst
recursive-exclude doc *-checkpoint.ipynb

graft test
recursive-exclude test *.pyc
include versioneer.py
include mykit/_version.py

prune mykit.egg-info